{% extends 'main.html' %}
{% block content%}

<div class="container">
    <div style="height: 100px;overflow-y: auto;background-color: azure;">
        <p id="online">{{ username}} </p>
    </div>
    <div>     
        <div id="product-list">
        </div>
        </div>
    </textarea>
    <div class="container chat-container" style="padding:3px;border-radius:10px;">
    <form id="chat-form" action="{% url 'chatts'%}" method="POST">   
    {% csrf_token %}   
    <div class="input-group mb-3">
    <input id="chat-input" type="text" class="form-control" placeholder="Type your message......" name='text' required>
    <button class="btn btn-success">Send</button> 
    </form> 
        </div>
</div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    let user_id="{{ user1 }}"
    console.log('brian albert',user_id)
    let product_list=document.getElementById('product-list')
    product_list.innerHTML="{{username}}"

        //make an ajax request to fetch data from the django bakcend

    $(document).on('submit','#chat-form',function(e){
        e.preventDefault()
        save_message(e)
        sendMessage()
    })

    $(document).ready(function(){
    console.log("doc loadde")
    function load_data(){
    console.log("im in here")
    $.ajax({
    type:'GET',
    url:"{% url 'fetchData'%}",
    success:function(response){
        console.log(response,'errorrr')
        renderData(response)
    },
    error:function(response){
        console.log(response,'error')
    }
   })

   }
  
   load_data()

   })
            
    function renderData(data){
        var productList=$('#product-list')
        productList.empty();
        data.data.forEach(function(item){
            console.log("one",user_id,item.user_id)

            var linkUrl =`/dm/${user_id}/${item.user_id}/`;
            productList.append('<div>' + item.body + ' ' + timesince(item.created) + ' <a href="' + linkUrl + '">' + item.username +item.user_id+'</a>' + '</div>');
        });

    }
    function timesince(date) {
    const seconds = Math.floor((new Date() - new Date(date)) / 1000);
    let interval = Math.floor(seconds / 31536000);

    if (interval >= 1) {
        return interval + " year(s) ago";
    }
    interval = Math.floor(seconds / 2592000);
    if (interval >= 1) {
        return interval + " month(s) ago";
    }
    interval = Math.floor(seconds / 86400);
    if (interval >= 1) {
        return interval + " day(s) ago";
    }
    interval = Math.floor(seconds / 3600);
    if (interval >= 1) {
        return interval + " hour(s) ago";
    }
    interval = Math.floor(seconds / 60);
    if (interval >= 1) {
        return interval + " minute(s) ago";
    }
    return Math.floor(seconds) + " second(s) ago";
}

function save_message(e){
        $.ajax({
            type:'POST',
            url:"{% url 'chatts'%}",
            chat_data:{
             text:$('#chat-input').val(),
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success:function(response){
                $('#chat-input').val('')
                console.log(response)
            },error:function(response){
                console.log(response,'an error ocurred')
            }
        })

    }
    
//Websocketting
if('WebSocket' in window){
 const chatSocket=new WebSocket('ws://'+window.location.host+'/ws/Chatts/');

 chatSocket.onopen = function(event) {
    console.log('WebSocket connection opened:', event);
};


 chatSocket.onmessage=function(e){
    const message=JSON.parse(e.data)    
    var pl=document.getElementById('product-list')
    let el=document.getElementById('online')
    el.innerHTML='albert'
    const time = new Date(message['time']);
    console.log('yoyoyoyyoyoy',message['message'])
    var linkUrl =`/dm/${user_id}/${message['msg_host_id']}/`;
    pl.insertAdjacentHTML(
        'afterbegin','<div>'+message['message']+' '+timesince(time)+' '+ '<a href="'+linkUrl+'">'+message['username']+'</a>'+'</div>'
    )
};

chatSocket.onerror = function(event) {
    console.error('WebSocket error:', event);
};

chatSocket.onclose=function(e){
    console.error('chat socket closed')
}

function sendMessage(message){
    const msg=$('#chat-input').val()
    $('#chat-input').val('')
    console.log("uyyyyyyyyyyyyyyyy")
    chatSocket.send(JSON.stringify({
        'message':msg,
        'current-user':user_id,
        
        
    }));


}
}
else{
    console.error("websocket is not suported by windows")
}
</script>

{%endblock%}